# My files
models/
old/
paper_icaart_results/
results/common_value
results/first_price
results/second_price
results/tariff_discount
results/all_pay
results/core_selecting
results/joint_first_price
singleagent_results/common_value
singleagent_results/all_pay
singleagent_results/first_price
singleagent_results/second_price
singleagent_results/tariff_discount
stuff/
.tmp/
attributes.git
trial.py

# Byte-compiled / optimized / DLL files
src/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE / editor specific
.vscode/
.idea/
*.pyc
*.DS_Store

# Testing
.coverage
.tox/

# Other
*.bak
*.swp

